# Archivo .gitignore para proyectos Django

# Directorios de Python y Entorno Virtual
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.env

# Archivos de configuración de Django
/db.sqlite3  # Base de datos local (¡MUY IMPORTANTE!)
/media/      # Archivos subidos por usuarios

# Archivos de Sesión y Debug
.DS_Store
*.log
*~

# Claves de Seguridad y Configuraciones Sensibles
# Se recomienda usar variables de entorno (como .env)
# Si usas un archivo separado para settings locales, ignóralo:
# local_settings.py